.home-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/home-lg-bg.png');
  height: 120vh;
  padding-top: 1px;
  background-size: cover;
}
.sub-container {
  margin-left: 50px;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 40%;
}
.home-heading {
  color: #ffffff;
  font-family: 'Roboto';
  font-weight: 600;
  font-size: 35px;
}
.home-para {
  color: #ffffff;
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 15px;
}
.find-btn {
  color: #ffffff;
  font-family: 'Roboto';
  text-align: center;
  border: none;
  background-color: #4f46e5;
  border-radius: 5px;
  padding: 10px;
}
